<!-- Footer -->
<!-- <style>
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
</style> -->

<br>
<footer class="page-footer text-light font-small bg-dark ">

  <!-- Footer Links -->
  <div class="container-fluid text-center ">
    <!-- Content -->
    <h4 class="text-uppercase">Contact Information</h4>
    <p> Phone: (123) 456-7890 || Email: tstnlsn@gmail.com</p>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="text-center">© 2020 Copyright: Wyatt Nelson
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->