<!-- Footer -->
<br>
<footer id="sticky-footer" class="page-footer text-light font-small bg-dark pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center ">
    <!-- Content -->
    <h4 class="text-uppercase">Contact Information</h4>
    <p> Phone: (123) 456-7890 </p>
    <p> Email: tstnlsn@gmail.com</p>
    <p> Address: 1230 1 Ave. </p>
    <p> Edmonton, Alberta Canada, T0K2E0 </p>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="text-center">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->