<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/mainnavStyle.ejs") %>
    <title>Document</title>
</head>

<body>
    <%- include("../partials/mainnav.ejs") %>
    <h1>this is the home page</h1>

    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sunt et tempore, quasi iure, natus provident
    minima, cupiditate odio ratione reprehenderit maxime deserunt quidem magnam! Porro sint perspiciatis qui quas!
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <%- include("../partials/footer.ejs") %>
</body>

</html>